<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Definição de materiais para Gazebo e RViz -->
  
  <material name="blue">
    <color rgba="0.0 0.0 1.0 1.0"/>
  </material>
  
  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
  
  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  
  <material name="red">
    <color rgba="1.0 0.0 0.0 1.0"/>
  </material>
  
  <material name="green">
    <color rgba="0.0 1.0 0.0 1.0"/>
  </material>
  
  <material name="yellow">
    <color rgba="1.0 1.0 0.0 1.0"/>
  </material>
  
  <material name="orange">
    <color rgba="1.0 0.5 0.0 1.0"/>
  </material>

  <!-- Propriedades dos materiais para Gazebo -->
  <gazebo reference="base_link">
    <material>Gazebo/Blue</material>
  </gazebo>
  
  <gazebo reference="front_left_wheel">
    <material>Gazebo/Black</material>
  </gazebo>
  
  <gazebo reference="front_right_wheel">
    <material>Gazebo/Black</material>
  </gazebo>
  
  <gazebo reference="rear_left_wheel">
    <material>Gazebo/Black</material>
  </gazebo>
  
  <gazebo reference="rear_right_wheel">
    <material>Gazebo/Black</material>
  </gazebo>
  
  <gazebo reference="lidar_support">
    <material>Gazebo/White</material>
  </gazebo>
  
  <gazebo reference="laser_frame">
    <material>Gazebo/Red</material>
  </gazebo>

</robot>
